@page "/counter"
@implements IDisposable
@inject CounterStore _counterStore

<h1>Counter</h1>

<p role="status">Current count: @_counterStore.GetState().CounterValue</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private IObserver<CounterState> observer;
    private IDisposable unsubscriper;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        observer = new Observer<CounterState>(
            async(cs) => await InvokeAsync(() => {StateHasChanged();}),
            (ex) => Console.WriteLine(ex.ToString()),
            () => Console.WriteLine("Completed counter state"));

        unsubscriper = _counterStore.Subscribe(observer);
    }

    private void IncrementCount()
    {
        _counterStore.Increment();
    }

    public void Dispose()
    {
        unsubscriper.Dispose();
    }

}
